.main {
  background: url("../../assets/main-bg.jpg");
  background-color: rgba(0, 0, 0, 0.6); /* Tint color */
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}
.dumbbellIcon {
  text-shadow: 0 0 20px #fff;
}
